<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js?v=<%=System.currentTimeMillis() %>"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js?v=<%=System.currentTimeMillis() %>"></script>

<!-- index.js 추가 -->
<script type="text/javascript" src="/js/app/index.js?v=<%=System.currentTimeMillis() %>"></script>

</body>
</html>